.header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #008c8c;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  padding-top: 150px;
}
.avatar_pic {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yourname {
display: flex;
justify-content: center;
}