.header {
  /* height: 400px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #008c8c;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  padding-top: 5em;
  color: white;
}

.avatar_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.yourname {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 7em 5em;
    padding: 7em 7em;
    width: 20%;
    height: 500px;
    margin: 50px;
    margin-top: 200px;
  }
}