.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f1ec;
}

.tweet-input {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  font-size: 1.2rem;
}
button {
  display: flex;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #ffffff;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float:right;
}

.new-tweet > h2 {
  font-size: 2rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: flex-start;
}

.textarea {
  background-color: #f4f1ec;
}
